/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left,rgb(74, 74, 141),rgb(173, 155, 155));
}

header {
    background-color: #565877;
    color: rgb(99, 57, 199);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.contenido-principal {
    max-width: 800px;
    margin: 20px auto;
    padding: 200px;
    background-color: #fff;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

/* Estilos específicos para el formulario de contacto */
form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

/* Estilos para el carrusel */
.carousel-container {
    max-width: 600px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
}

.carousel-btn-prev {
    left: 0;
}

.carousel-btn-next {
    right: 0;
}

/*-------------------- Estilos para el slogan--------------------- */
#slogan {
    font-size: 24px; /* Tamaño de fuente */
    color: #ff6b6b; /* Color del texto */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centrar el texto */
    margin-top: 20px; /* Espacio superior */
}
/* --------------Estilos para el contenido del artículo ------------*/
.articulo-container {
    display: flex;
    flex-direction: row; /* Coloca el texto a la izquierda y la imagen a la derecha */
    align-items: center; /* Centra verticalmente el contenido */
    margin-top: 20px; /* Espacio superior */
}

.texto-articulo {
    flex: 1; /* Ocupa el espacio disponible en la parte izquierda */
    padding-right: 20px; /* Espacio entre el texto y la imagen */
}

.imagen-articulo {
    flex: 1; /* Ocupa el espacio disponible en la parte derecha */
    text-align: center; /* Centra la imagen horizontalmente */
}

.imagen-articulo img {
    max-width: 100%; /* Asegura que la imagen no sea más ancha que su contenedor */
    height: auto; /* Mantiene la proporción de aspecto original de la imagen */
}