/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #c9b7b7;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;

}

.contenido-principal {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
}

/* Estilos específicos para el formulario de contacto */
form {
    margin-top: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

/* Estilos para el carrusel */
.carousel-container {
    max-width: 600px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
}

.carousel-btn-prev {
    left: 0;
}

.carousel-btn-next {
    right: 0;
}

/* Estilos para el slogan */
#slogan {
    font-size: 24px; /* Tamaño de fuente */
    color: #ff6b6b; /* Color del texto */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centrar el texto */
    margin-top: 20px; /* Espacio superior */
}
